<ul class="nav secondary-nav">
  <% if admin_signed_in? %>
    <li><%= link_to "Sign out", destroy_admin_session_path, :method => :delete %> </li>
  <% else %>
    <li><%= link_to "Admin", new_admin_session_path %></li>
  <% end %>
</ul>